.two-col {
    display: flex;
    gap: 2rem;
}

.two-col .col {
    flex: 1;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-body .btn {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
}

/*.card-body .btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
}*/

.card-body img.card-image {
    display: block;        
    max-width: 100%;       
    height: auto;          
    margin: 0 auto 1rem;   
}
