doctype html 
html 
    head 
        meta(charset="UTF-8")
    body 
        h1 November 25th, 2025
        ul
            li 
                a(href="/11252025/respectme") ResPectMe/Restless Proof of Concept 
