doctype html 
html 
    head 
        meta(charset="UTF-8")
    body 
        h1 CeSo Website Builds
        ul
            li 
                a(href="/11252025") November 25th, 2025
            li
                a(href="/12162025") December 16th, 2025
